<h1>Add a Place</h1>

<form action="/places" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="address" placeholder="Address">
  </div>
  <input type="submit" class="btn btn-primary">
</form>

<div class="row">
  <div class="col-md-6">
    <h2>Places</h2>
    <% places.forEach(function(place) { %>
      <div class="well">
        <%= place.name %>
      </div>
    <% }); %>
  </div>
  <div class="col-md-6">
    <h2>Map</h2>
    <div id="map"></div>
  </div>
</div>


<!-- scripts -->
<!-- this is the link google provides to link the api key used by geocoder -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtAqsXonxWVOw6v3aj8Aj6d_WrYCk5UTo&callback=initMap"
                    type="text/javascript"></script>
<script src="/js/script.js"></script>
